<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- <link rel="stylesheet" type="text/css" href="../assets/css/app.scss"> -->
        {% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

    	<div class="container">

    		<div class="row">
    			
    			<div class="col-md-12">
    				<nav class="nav">
    					<a href="/" class="nav-item">Inicio</a>
    					<a href="/avispas" class="nav-item">Avispas</a>
                        <a href="/ajax" class="nav-item">Ajax Avispa</a>
                        <a href="{{ path('react')}}" class="nav-item">React Inicio</a>
                        <a href="/api/publico" class="nav-item">React Público</a>
    					<a href="/api/privado" class="nav-item">React Privado</a>
    					
    				</nav>
    			</div>
    		</div>
    		
        	{% block body %}{% endblock %}

    	</div>

        {% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
    </body>
</html>
