{% extends 'base.html.twig' %}

{% block title %}{{ titulo|upper }}{% endblock %}

{% block body %}

	<h1>Inicio de Aplicacion</h1>

	<p>El número desde el controlador es {{ numero }}</p>

	<p id="jquery"></p>

{% endblock %}