
{% extends 'base.html.twig' %}

{% block title %}Crear nueva avispa{% endblock %}

{% block body %}

	<div class="row">

		<div class="col-md-10 offset-md-1">

			<h2>Crea una nueva avispa</h2>

			{{ form_start(form) }}

				{{ form_widget(form) }}

				<input type ="submit">
				
			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}